@charset "UTF-8";
/* ESTILOS GENERALES */
/* VARIABLES */
/* line 9, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
* {
  margin: 0;
  padding: 0; }

/* line 13, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
h1 {
  color: gray;
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  /* Tamaño del título */
  margin-bottom: 20px;
  /* Espaciado inferior del título */
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInFromBottom 1s ease-out 1 forwards; }

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

/* line 32, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
h2 {
  color: orange;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif; }

/* Truco para que las imágenes se adapten dentro de su contenedor */
/* line 39, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
img {
  max-width: 100%;
  height: auto; }

/* Estilos para los carrusel de imágenes */
/* line 44, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
#carousel {
  margin-top: 20px;
  border: 3px solid orange;
  border-radius: 10px; }
  /* line 48, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  #carousel .carousel-control-prev-icon, #carousel .carousel-control-next-icon {
    background-color: orange; }

/* ESTILOS PARA FOOTER */
/* line 52, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.container-footer {
  max-width: 1200px;
  /* Ancho máximo del contenedor */
  margin: 0 auto;
  /* Centrar horizontalmente */
  text-align: center;
  overflow-x: hidden; }

/* line 58, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
footer {
  background-color: gray;
  color: white;
  padding: 10px 0px;
  /* Espaciado interior superior e inferior */
  /* Estilos para los íconos */
  /* Estilos para los enlaces */ }
  /* line 62, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  footer p {
    font-size: 20px;
    font-family: sans-serif; }
  /* line 67, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  footer i {
    margin-right: 5px;
    /* Espaciado a la derecha de los íconos */
    font-size: 20px;
    /* Tamaño de fuente para los íconos */ }
  /* line 72, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  footer a {
    color: white;
    text-decoration: none; }
    /* line 75, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    footer a:hover {
      color: orange; }
  /* line 78, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  footer .list-unstyled i {
    margin-bottom: 15px; }

/* ESTILOS PARA HEADER */
/* line 85, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.container-nav {
  background-color: gray; }

/* line 89, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.navbar {
  align-items: center; }
  /* line 91, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .navbar .navbar-brand img {
    max-width: 150px;
    margin-left: 20px; }

/* Estilos para los enlaces de la barra de navegación */
/* line 97, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.nav-item {
  margin-right: 10px; }
  /* line 99, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .nav-item .nav-link {
    color: white;
    border: 2px solid orange;
    border-radius: 10px;
    font-size: 20px;
    font-family: sans-serif; }
    /* line 105, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .nav-item .nav-link:hover {
      color: black; }

/* line 108, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.navbar-nav .nav-item {
  margin-bottom: 10px;
  /* Ajusta este valor según tus necesidades */ }

/* ESTILOS PARA MAIN-INDEX */
/* line 114, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.movimiento {
  background-color: #dbd8d8;
  padding: 20px 0;
  overflow-x: hidden; }
  /* line 118, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .movimiento h1 {
    color: black;
    font-size: 36px;
    animation: moveText 6s linear infinite;
    display: inline-block;
    white-space: normal;
    line-height: 1.5;
    /* Ajusta el espaciado entre líneas para separar las oraciones */ }

/* line 127, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.elMundo {
  background-color: white;
  padding: 20px 0;
  overflow-x: hidden; }
  /* line 131, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .elMundo h1 {
    color: black;
    font-size: 36px;
    animation: moveText 6s linear infinite;
    display: inline-block;
    white-space: normal;
    line-height: 1.5;
    /* Ajusta el espaciado entre líneas para separar las oraciones */ }
  /* line 139, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .elMundo img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px; }
  /* line 145, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .elMundo p {
    font-size: 22px;
    font-family: Arial; }

/* line 150, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.orange {
  background-color: orange;
  color: white;
  padding: 10px;
  overflow-x: hidden;
  /* Estilos para pantallas más grandes */
  /* Estilos para pantallas más pequeñas (móviles) */ }
  /* line 155, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .orange p {
    margin: 5px 0;
    font-size: 26px;
    font-family: Arial;
    animation: moveText 6s linear infinite;
    display: inline-block;
    white-space: normal; }

@keyframes moveText {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  25% {
    transform: translateX(0);
    opacity: 1; }
  75% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(100%);
    opacity: 0; } }
  @media (max-width: 768px) {
    /* line 185, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .orange .orange p {
      font-size: 16px;
      /* Ajusta el tamaño de fuente para pantallas más pequeñas */
      animation: moveTextMobile 6s linear infinite;
      /* Cambia la animación para móviles */
      line-height: 1.1;
      /* Ajusta el espaciado entre líneas para separar las oraciones en móviles */ }
    /* line 190, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .orange .movimiento h1 {
      font-size: 16px;
      animation: moveTextMobile 6s linear infinite;
      line-height: 1.1;
      /* Ajusta el espaciado entre líneas para separar las oraciones en móviles */ }
    /* line 195, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .orange .elMundo h1 {
      font-size: 16px;
      animation: moveTextMobile 6s linear infinite;
      line-height: 1.1;
      /* Ajusta el espaciado entre líneas para separar las oraciones en móviles */ }
    @keyframes moveTextMobile {
      0% {
        transform: translateX(-100%);
        opacity: 0; }
      25% {
        transform: translateX(0);
        opacity: 1; }
      75% {
        transform: translateX(0);
        opacity: 1; }
      100% {
        transform: translateX(100%);
        opacity: 0; } } }

/* line 222, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.animacion {
  opacity: 0;
  /* Opacidad inicial en 0 (invisible) */
  transform: scale(0.2);
  /* Escala inicial en 0.2 (tamaño inicial pequeño) */
  animation: entradaImagen 2s ease-out 1 forwards;
  /* Aplicar la animación */ }

@keyframes entradaImagen {
  0% {
    opacity: 0;
    /* Opacidad inicial en 0 (invisible) */
    transform: scale(0.2);
    /* Escala inicial en 0.2 (tamaño inicial pequeño) */ }
  100% {
    opacity: 1;
    /* Opacidad final en 1 (completamente visible) */
    transform: scale(1);
    /* Tamaño final en 1 (tamaño original) */ } }

/* ESTILOS PARA MAIN-NOSOTROS */
/* line 241, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.hermanos {
  background-color: white;
  padding: 30px 0;
  /* Espaciado interior superior e inferior */ }
  /* line 244, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .hermanos p {
    font-size: 22px;
    font-family: Arial;
    margin-bottom: 20px; }
  /* line 249, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .hermanos .texto-orange {
    color: orange;
    font-size: 30px; }
  /* line 253, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .hermanos .animacion img {
    border: 3px solid orange;
    border-radius: 10px;
    margin-top: 20px;
    transition: transform 0.2s;
    cursor: pointer; }
    /* line 259, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .hermanos .animacion img:hover {
      transform: scale(1.04); }
  @media (max-width: 768px) {
    /* line 263, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .hermanos .animacion img {
      display: block;
      margin: 0 auto;
      max-width: 9 0%; } }

/* line 271, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.profe-nuevo {
  background-color: #dbd8d8;
  margin-top: 20px;
  margin-bottom: 20px; }
  /* line 275, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .profe-nuevo p {
    text-align: center;
    font-size: 22px;
    font-family: Arial;
    margin-top: 10px; }
  /* line 281, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .profe-nuevo img {
    max-width: 50%;
    display: block;
    /* Asegura que los márgenes automáticos funcionen */
    margin: 0 auto;
    /* Centra la imagen horizontalmente */
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid orange;
    border-radius: 10px;
    transition: transform 0.2s;
    cursor: pointer; }
    /* line 291, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .profe-nuevo img:hover {
      transform: scale(1.04); }
    @media (max-width: 768px) {
      /* line 281, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
      .profe-nuevo img {
        max-width: 90%;
        /* Ajusta el valor según tus necesidades */ } }

/* line 299, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.profesores {
  background-image: url(../img/background.jpeg);
  background-repeat: repeat; }
  /* line 302, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .profesores p {
    background-color: #fcd58d;
    text-align: center;
    font-size: 22px;
    font-family: Arial;
    margin-top: 10px; }
  /* line 309, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .profesores img {
    max-width: 40%;
    display: block;
    /* Asegura que los márgenes automáticos funcionen */
    margin: 0 auto;
    /* Centra la imagen horizontalmente */
    margin-bottom: 20px;
    margin-top: 20px;
    transition: transform 0.2s;
    cursor: pointer;
    border: 3px solid orange;
    border-radius: 10px; }
    /* line 319, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .profesores img:hover {
      transform: scale(1.04); }
    @media (max-width: 768px) {
      /* line 309, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
      .profesores img {
        max-width: 90%;
        /* Ajusta el valor según tus necesidades */ } }

/* ESTILOS PARA MAIN-INFORMACION */
/* line 329, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.servicios {
  padding: 20px 0;
  background-color: #dbd8d8; }
  /* line 332, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .servicios .destacada {
    transition: transform 0.2s;
    cursor: pointer; }
    /* line 335, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .servicios .destacada:hover {
      transform: scale(1.04); }
  /* line 338, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .servicios .destacada-especial {
    margin-left: 6px; }

/* line 341, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.horarios {
  padding: 20px 0; }
  /* line 343, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .horarios img {
    max-width: 40%;
    display: block;
    /* Asegura que los márgenes automáticos funcionen */
    margin: 0 auto;
    /* Centra la imagen horizontalmente */
    margin-top: 20px;
    margin-bottom: 20px; }
    @media (max-width: 768px) {
      /* line 343, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
      .horarios img {
        max-width: 90%;
        /* Ajusta el valor según tus necesidades */ } }
  /* line 354, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .horarios p {
    font-size: 22px;
    font-family: Arial;
    text-align: center;
    margin-top: 20px; }
  /* line 360, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .horarios .datos {
    padding: 20px;
    /* Espacio interior */
    border: 2px solid orange;
    border-radius: 10px; }
    /* line 364, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .horarios .datos p {
      font-size: 22px;
      font-family: Arial;
      text-align: center; }
    /* line 369, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .horarios .datos form {
      max-width: 400px;
      /* Ancho máximo del formulario */
      margin: 0 auto;
      /* Centra el formulario horizontalmente */ }
    /* line 373, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .horarios .datos label {
      display: block;
      /* Coloca cada etiqueta en una línea nueva */
      margin-top: 10px;
      /* Espacio superior entre las etiquetas */
      font-weight: bold;
      /* Hace que las etiquetas sean negritas */
      font-family: sans-serif; }
    /* line 379, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .horarios .datos input[type="text"],
    .horarios .datos input[type="number"],
    .horarios .datos input[type="email"],
    .horarios .datos textarea {
      width: 100%;
      /* Los campos de entrada ocupan todo el ancho del formulario */
      padding: 10px;
      /* Espacio interior en los campos de entrada */
      margin-bottom: 10px;
      /* Espacio inferior entre los campos de entrada */
      border: 1px solid #ccc;
      /* Borde de los campos de entrada */
      border-radius: 5px; }
    /* line 389, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .horarios .datos input[type="submit"] {
      background-color: orange;
      /* Color de fondo del botón de enviar */
      color: white;
      /* Color de texto del botón de enviar */
      padding: 10px 20px;
      /* Espacio interior en el botón de enviar */
      border: none;
      /* Elimina el borde del botón de enviar */
      border-radius: 5px;
      /* Bordes redondeados en el botón de enviar */
      cursor: pointer;
      /* Cambia el cursor al pasar sobre el botón de enviar */ }
    /* line 397, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .horarios .datos input[type="submit"]:hover {
      background-color: gray;
      /* Cambia el color de fondo al pasar sobre el botón */ }

/* line 401, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.ubicacion {
  background-color: #dbd8d8;
  padding: 20px 0;
  /* Espaciado interno superior e inferior */ }
  /* line 404, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .ubicacion p {
    font-size: 22px;
    font-family: Arial; }
  /* line 408, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .ubicacion iframe {
    max-width: 100%;
    width: 500px;
    height: 400px; }

/* ESTILOS PARA MAIN-ECOMUNIDAD */
/* line 416, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.carousel-comunidad {
  padding: 20px 0; }

/* line 418, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.comunidad {
  padding: 20px 0;
  background-color: #dbd8d8; }
  /* line 421, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .comunidad img {
    transition: transform 0.2s;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px; }
    /* line 426, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
    .comunidad img:hover {
      transform: scale(0.96); }
  /* line 429, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .comunidad p {
    font-size: 30px;
    font-family: Arial;
    text-align: center;
    margin-top: 20px; }

/* line 436, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.video-comunidad {
  background-color: white;
  padding: 20px 0;
  overflow-x: hidden; }
  /* line 440, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .video-comunidad iframe {
    max-width: 100%; }

/* line 443, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.col .frase {
  animation: moverDeIzquierdaADerecha 15s linear infinite;
  /* 10s para la duración, linear para la función de temporización, infinite para repetir infinitamente */
  margin-top: 30px; }

@keyframes moverDeIzquierdaADerecha {
  0% {
    transform: translateX(-100%);
    /* Empieza desde la izquierda */ }
  100% {
    transform: translateX(100%);
    /* Termina en la derecha */ } }

/* line 454, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
h2.frase {
  color: black; }

/* line 455, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
h3.frase {
  color: orange; }

/* line 456, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
h4.frase {
  color: black; }

/* ESTILOS PARA MAIN-TIENDA */
/* line 460, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.suplementos {
  background-color: #dbd8d8;
  padding: 20px 0; }
  /* line 463, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .suplementos video {
    max-width: 100%;
    width: 500px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid orange;
    /* Borde sólido de 2px de ancho y color azul */
    border-radius: 10px;
    /* Borde redondeado */
    padding: 10px;
    /* Espaciado interno para separar el contenido del borde */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Sombra alrededor del video */ }

/* line 475, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.snacks {
  margin-top: 30px;
  margin-bottom: 30px; }
  /* line 478, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
  .snacks h2 {
    margin-bottom: 20px; }

/* line 481, ../../../../../Programación - CODER/ECO Entrenamiento/scss/style.scss */
.card {
  font-family: Arial;
  font-size: 22px;
  border: 2px solid gray;
  border-radius: 6px;
  box-shadow: 2px 2px 5px gray; }

/*# sourceMappingURL=style.css.map */